* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 300px;
    height: 350px;
    border: 2px solid black;
    margin: 50px auto;
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,0.7317051820728291) 100%);
    border-radius: 10px;
}

input {
    width: 85%;
    height: 45px;
    border: 1px solid ;
    font-size: 25px;
    margin: 22px;
    margin-bottom: 10px;
    padding: 5px ;
    border-radius: 7px;
    background-color:rgba(191, 197, 244, 0.685)  ;
}

.span {
    display: inline-block;
    line-height: 40px;
    text-align: center;
    height: 40px;
    width: 44px;
    border: 2px solid black;
    cursor: pointer;
    background-color: #3b7d89;
    font-size: 20px;
    border-radius: 30%;
    box-shadow: 2px 2px black;
}

.line {
    margin: 10px 0px;
    display: flex;
    justify-content: space-evenly;
}

.span:hover {
    font-weight: 600;
    
}

.col {
    background-color: rgb(255, 0, 0);
    color: white;
}

.col1 {
    background-color: rgb(12, 147, 129);
    color: white;
    box-shadow: 2px 2px rgb(5, 4, 4);
}

.col2 {
    background-color:orangered;
    color: white;
}
